[Unit]
Description=Configuration for read only filesytem ie on ssd.
DefaultDependencies=no
RequiresMountsFor=/etc /tmp
#After=systemd-remount-fs.service
After=-.mount tmp.mount

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/read-only-config.sh
TimeoutSec=10s

[Install]
WantedBy=multi-user.target
