!# Maintained at: git@github.com:dareni/shellscripts.git
*foreground: #DDEEDD
*background: #1C1C1C

!black
*color0: #1C1C1C
*color8: #4d4d4d
!red
*color1: #D81860
*color9: #F00060
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #FEA63C
*color11: #FFE863
!blue
*color4: DeepSkyBlue
*color12: RoyalBlue
!magenta
*color5: #B7416E
*color13: OrangeRed
!cyan
*color6: cyan3
*color14: cyan4
!white
*color7: #DDEEDD
*color15: #6C887A

!Now included in fvwm config
!XClock*analog: false
!XClock*buffer: true
!XClock*update: 1
!XClock*borderWidth: 0
!XClock*font: -bitstream-*-bold-r-*-33-240-*
!XClock*font: l-medium-r-normal--0-0-0-0-p-0-iso8859-2
!XClock*font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso8859-2
!XClock*font: -misc-fixed-medium-r-normal--10-70-100-100-c-60-iso8859-1
!xlsfonts
!xcolorsel
!xrdb -merge .Xresources
!xfd -fn fname
!xfd -fa faceName
!fc-match mono
!fc-list
!!appres xterm
!!fontmatrix
!xterm -report-fonts
!fc-list :scalable=true:spacing=mono: family
!!xterm -fa "faceName the font you want"

!xterm -u8
!only xterm and urxvt support unicode
xterm*utf8: 1
XTerm*termName: xterm-256color
xterm*pointerShape: crosshair
!xterm*faceName: Anonymous Pro
xterm*faceName: JetBrainsMonoNerdFont
!xterm*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
! -fa faceName (family) -fn font resource name defaults to 'fixed'.
!xterm*packedFont: true
!xterm*renderFont: false
!xterm*initialFont: JetBrainsMonoNLNerdFontMono-Regular
xterm*scaleHeight: 1.1

!xterm*faceName: DejaVuSansCondensed
!xterm*faceName: DejaVuSerifCondensed
xterm*faceSize: 8.0
!xterm*boldFont: JetBrainsMonoNLNerdFontMono-SemiBold
Xcursor.theme: default
!xvkbd.NormalKeys: \
!  F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 Delete \n\
!  Escape 1 2 3 4 5 6 7 8 9 0 - = \134 ` \n\
!  Tab q w e r t y u i o p [ ] BackSpace \n\
!  Control_L a s d f g h j k l ; \047 Return \n\
!  Shift_L z x c v b n m , . / Multi_key Shift_R \n\
!  MainMenu Caps_Lock Alt_L Meta_L space Meta_R Alt_R Left Right Up Down Focus

